<script lang="ts" setup>;
import type { Fruits } from '~/entities';

const {fruit} = defineProps<{
    fruit: Fruits
  }>()

function increment() {
  fruit.quantite++;
}

function decrement() {
  if (fruit.quantite > 0) {
    fruit.quantite--;
  }
}

async function add(){
  emit('add', fruit)
}

const emit = defineEmits(['add'])



</script>

<template>
      <div class="card m-2" style="height: 20em;">
        <img :src="fruit.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ fruit.nom }}</h5>
          <p>{{ fruit.prixHT }}</p>
          <p>{{ fruit.quantite }}</p>
          <div class="flex g-3">
            <button class="btn btn-danger btm" @click="decrement()">-</button>
            <button class="btn btn-success btm" @click="increment()">+</button>
          </div>
          <button class="btn btn-primary" @click="add()">Ajouter</button>
        </div>
      </div>
</template>

<style scoped>
img {
  width: 120px;
  height: auto;
}

p {
  margin: 0px;
}

.btm {
  width: 35px;
  margin: 2px;
}
</style>
