<script lang="ts" setup>
import { defineEmits } from 'vue';
import type { Fruits } from '~/entities';
import Index from '~/pages/index.vue';

const { panier } = defineProps<{
  panier: Fruits[],
  total:number,
  quantite:number
}>()

const emit = defineEmits(['delete'])

function deleteFruit(index: number) {
  panier.slice(index)
  emit('delete', index)
}



</script>

<template>
  <h2>Panier</h2>
  <table class="table">
    <thead>
      <tr class="haut">
        <th scope="col">N°</th>
        <th scope="col">Nom</th>
        <th scope="col">Quantité</th>
        <th scope="col">prix</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr v-for="(fruit, index) of panier">
        <th scope="row"></th>
        <td>{{ fruit.nom }}</td>
        <td>{{ fruit.quantite }}</td>
        <td>{{ fruit.prixHT * fruit.quantite }}</td>
        <td><button class="suppr" @click="deleteFruit(index)">X</button></td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr class="haut">
        <th scope="col">Qté</th>
        <th scope="col">PrixHT</th>
        <th scope="col">PrixHTT</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{{ quantite }}</td>
        <td></td>
        <td>{{ total }}</td>
      </tr>
    </tbody>
  </table>
</template>

<style scoped>
.haut {
  border: 3px solid rgb(69, 191, 195);
}

h2 {
  color: rgb(69, 191, 195);
}

.suppr {
  color: red;
}
</style>
