<script lang="ts" setup>
import ListFruit from '~/components/ListFruit.vue';
import Panier from '~/components/Panier.vue';
import type { Fruits } from '~/entities';


const fruits = ref([
  { image: 'https://media.istockphoto.com/id/1452520286/fr/vectoriel/vecteur-de-mangue-mangue-sur-fond-blanc-symbole-conception-du-logo-dessert-tha%C3%AFlandais.jpg?s=612x612&w=0&k=20&c=j5pqS2s_MMewRonU24wf-Hwb8TFFEKJQmyMwmVllZ4Q=', prixHT: 19, nom: 'Mangue', quantite: 0 },
  { image: 'https://media.gettyimages.com/id/1296379574/fr/vectoriel/fruit-rouge-de-framboise-disolement-sur-le-blanc.jpg?s=612x612&w=gi&k=20&c=fj5Eo1wtLdDS550ya4VO1iMn-uHic2QvBJnA6TGccl8=', prixHT: 9, nom: 'Frambroise', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-premium/regime-bananes-vecteur-illustration-dessin-anime_650087-313.jpg?w=2000', prixHT: 8, nom: 'Banane', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/pomme-rouge-isole-fond-blanc_1308-81536.jpg', prixHT: 19, nom: 'Pomme', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg', prixHT: 7, nom: 'Raisin', quantite: 0 },
  { image: 'https://img.freepik.com/vecteurs-libre/illustration-orange-colore-dessine-main_53876-2977.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699142400&semt=ais', prixHT: 64, nom: 'Orange', quantite: 0 }])

const panier = ref<Fruits[]>([])
const total = ref(0);
const quantite = ref(0)

function addFruit(fruit: Fruits) {
  panier.value?.push(fruit)
  panier.value.forEach(fruit => {
    total.value += fruit.quantite * fruit.prixHT
    quantite.value += fruit.quantite
  });
  return total && quantite;
}

function deleteFruit() {
  panier.value?.slice()
}

</script>

<template>
  <div class="row g-3">
    <div class="col-lg-7">
      <div class="row g-3 row-cols-1 row-cols-md-3 row-cols-lg-4">
        <div class="col" v-for="item of fruits">
          <ListFruit :fruit="item" @add="addFruit($event)" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 align-self-start">
      <div>
        <Panier :panier="panier" :total="total" :quantite="quantite" @delete="deleteFruit()" />
      </div>
    </div>
  </div>
</template>

<style scoped>
div {
  margin: auto;
}
</style>
